.playlist{
    width: 351px;
    margin: 0 auto;
    padding-top: 24px;
    color:rgb(47, 47, 47);
    font-size: 18px;
}

.playlist-jota-quest {
    width: 351px;
    height: 180px;
    left: 12px;
    padding-top: 16px;
    margin: auto;
    
}

.playlist-jhonny-cash__vista-kicks{
    width: 351px;
    height: 180px;
    margin: auto;
    padding-top: 85px;
}

.playlist-jhonny-cash-vista-kicks__2{
    width: 351px;
    height: 180px;
    margin: auto;
    padding-top: 65px;

}

.playlist__2{
    width: 351px;
    margin: 0 auto;
    padding-top: 144px;
    color:rgb(47, 47, 47);
    font-size: 18px;
}

.playlist-jota-quest__2{
    width: 351px;
    height: 180px;
    left: 12px;
    padding-top: 16px;
    margin: auto;
}

.playlist-jota-quest__3{
    width: 351px;
    height: 180px;
    left: 12px;
    padding-top: 80px;
    margin: auto;
}

